<div class="m-3">
  <form>
    <label for="city">City: </label>
    <input class="col-md-2 form-control" type="text" name="city" [(ngModel)]= "city"/>
    <label for="price">Price </label>
    <input class="col-md-2 form-control" type="text" name="price"  [(ngModel)]="price"/>
    <br>
    <button class="form-control btn btn-primary" (click)="ngSearch()">Search</button>
  </form>
  <br>
  
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Id</th>
        <th>Artist</th>
        <th>City</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <div *ngIf="eventList.length == 0">No data</div>
      <tr
        *ngFor="let event of eventList">
        <td>
          {{ event.id }}
        </td>
        <td>{{ event.artiste }}</td>
        <td>{{ event.city }}</td>
        <td>{{ event.price }}</td>
      </tr>
    </tbody>
  </table>

</div>

<router-outlet></router-outlet>
